.link-header {
  color: white;
}
.main-header__link {
  position: absolute;
  bottom: 20%;
  width: 250px;
  height: 48px;
  border: 1.8px solid white;
  border-radius: 8px;
  text-align: center;
  color: white;
  align-self: center;
  cursor: pointer;
  line-height: 46px;
  font-size: $font-exlg;
 // background-color: $color-grey70;
}

.link-cards {
  width: 180px;
  height: 45px;
  background-color: $color-grey70;
  text-align: center;
  line-height: 43px;
  color: white;
  border: 1.3px solid $color-white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
}

.link-question{
  background-color: $color-white;
  color:black;
}
