#container-scrollTop{
display: none;
position :fixed;
bottom : 50px;
right :18px;
justify-content: center;
align-items:center;
height: 65px;
width :65px;
border-radius: 50%;
border : 5px solid $color-grey-dark-light;
background-color:white;
opacity: 0;
transition :opacity 0.4s;
}
#scroll-top{

}
#container-scrollTop[data-visible ="true"]{
    display:flex;
    opacity: 0.7;
    animation: fadeInFromNone 0.4s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 0.7;
    }
}